<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<body>
<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow" th:fragment="navbar">
    <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="#">Gerenciador de Eventos</a>
    <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="navbar-nav">
        <div class="nav-item text-nowrap">
            <a class="nav-link px-3" href="#" onclick="document.querySelector('#form-login').submit()">Logout</a>
            <form id="form-login" th:action="@{/logout}" method="post"></form>
        </div>
    </div>
</header>
</body>
</html>