<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{layout.html}">
<meta charset="UTF-8">
<div layout:fragment="content">
	<div class="alert alert-primary" th:if="${#lists.isEmpty(lista)}">
		Nenhum desenvolvedor cadastrado</div>
	<div class="alert alert-primary" th:if="${mensagem != null}"
		th:text="${mensagem}"></div>
	<div th:if="${not #lists.isEmpty(lista)}">
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nome</th>
					<th>4 Letras</th>
					<th>E-mail</th>
					<th>Salário Mensal</th>
					<th>Linguagem</th>
					<th>Opções</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="desenvolvedor : ${lista}">
					<td th:text="${desenvolvedor.id}"></td>
					<td th:text="${desenvolvedor.nome}"></td>
					<td th:text="${desenvolvedor.quatroLetras}"></td>
					<td th:text="${desenvolvedor.email}"></td>
					<td
						th:text="'R$' + ${#numbers.formatDecimal(desenvolvedor.salarioMensal, 0, 'POINT', 2, 'COMMA')}"></td>
					<td th:text="${desenvolvedor.linguagem.nome}"></td>
					<td><a class="btn btn-primary btn-sm"
						th:href="@{/desenvolvedor/editar(id=${desenvolvedor.id})}">Editar</a>
						<a class="btn btn-primary btn-sm"
						th:href="@{/desenvolvedor/excluir(id=${desenvolvedor.id})}"
						onclick="return confirm('Você realmente deseja excluir esse desenvolvedor?')">Excluir</a>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

</html>